@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playpen+Sans+Thai:wght@100..800&display=swap");

* {
  font-family: "Playpen Sans Thai", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffe99a;
  color: #ff9898;
}

section {
  color: #3b3b1a;
  background-color: #ffd586;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

#herder {
  position: relative;
  overflow: hidden;
  background-color: #ffe99a;

  .chidden-image {
    content: "";
    position: absolute;
    left: -8px;
    bottom: 10px;
    width: 20%;
    rotate: 10deg;
    z-index: 3;
  }
  .chidden-image-2 {
    content: "";
    position: absolute;
    /* border: 1px solid #FF9898; */
    right: -40%;
    bottom: -60%;
    opacity: 0.5;
    z-index: -1;
  }
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #ffe99a;
  color: #a76545;
}

.card-about {
  position: relative;
  .chidden-image {
    content: "";
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 30%;
    z-index: 1;
  }
}

ul.about-image-list {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 16px;
  gap: 16px;
}

@media (min-width: 1024px) {
ul.about-image-list {
  display: unset;
  grid-template-columns: none;
  margin-top: 0;
  gap: 0;
}
  ul.about-image-list > li:nth-child(odd) {
    display: flex;
    justify-content: flex-start;
  }

  ul.about-image-list > li:nth-child(even) {
    display: flex;
    justify-content: flex-end;
  }
}
